<div class="story <%= story.lead ? 'lead-' + story.lead : 'neutral' %>">
    <div class="panel panel-<%= status %>">
        <div class="panel-heading">
            <span class="days">
                ► <%= story.daysInProgress %> day<% if (story.daysInProgress != 1) { %>s<% } %>
            </span>
            <h3 class="panel-title">
                <a href="https://www.pivotaltracker.com/story/show/<%= story.id %>" target="_blank">
                    <%= story.name %>
                </a>
            </h3>
        </div>

        <div class="panel-body">
            <div class="row flex-container">
                <div class="col-md-8">
                    <% if (story.workers.length > 0) { %>
                        <h4>Assignee<%= story.workers.length != 1 ? "s" : "" %></h4>
                        <p><%= story.workers.join(", "); %></p>
                    <% } else { %>
                        <h4 class="text-danger">Nobody is working on this</h4>
                        <p>Sad times.</p>
                    <% } %>
                </div>

                <div class="col-md-4 team-lead">
                    <% if (story.lead) { %>
                        <p>
                            Lead: <strong><%= story.lead %></strong>
                        </p>
                    <% } %>
                </div>
            </div>
        </div>


        <div class="panel-footer <%= story.stickers.length || overLimit ? '' :'hidden' %>">
            <% if (overLimit) { %>
                <div class="row">
                    <div class="col-xs-2 sticker">
                        <img src="/images/sad_panda.gif" alt="Sad Panda" class="img-circle">
                    </div>

                    <div class="col-xs-10 description">
                        I am a sad panda.<br/>
                        I will never find any slots for <%= status == 'finished' ? 'review' : 'acceptance' %>.
                    </div>
                </div>
            <% } %>

            <% story.stickers.forEach(function (sticker) { %>
                <div class="row">
                    <div class="col-xs-2 sticker">
                        <img src="<%= sticker.img %>" alt="<%= sticker.name %>" class="img-circle">
                    </div>

                    <div class="col-xs-10 description">
                        <%- sticker.content %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
